[
    {rabbit, [
        {ssl_listeners, [5671]},
        {ssl_options, [
            {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
            {certfile, "/etc/rabbitmq/server_rmq1_certificate.pem"},
            {keyfile, "/etc/rabbitmq/server_rmq1_key.pem"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true},
            {crl_check, true},
            {crl_cache, {ssl_crl_cache, {internal, [{http, 50000}]}}}
        ]}
    ]}
].
